@font-face {
  font-family: 'Futura Book';
  src: url("../fonts/FuturaBookC.woff") format("woff"), url("../fonts/FuturaBookC.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Futura Demi';
  src: url("../fonts/FuturaDemiC.eot");
  src: url("../fonts/FuturaDemiC.woff") format("woff"), url("../fonts/FuturaDemiC.woff2") format("woff2"), url("../fonts/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #131313;
  min-height: 80px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo .logo {
  text-decoration: none;
  color: #E3B873;
  font-family: 'Futura Demi';
  text-transform: uppercase;
  font-size: 14px;
}

.header__number {
  margin-right: 40px;
}

.header__btn {
  padding: 13px 20px;
}

.header__btn:hover {
  background-color: transparent;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  display: inline-block;
  margin-right: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav a:hover {
  color: #E3B873;
}

.nav a:last-child {
  margin-right: 0;
}

.number {
  font-size: 14px;
  color: #E3B873;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.number:hover {
  text-decoration: underline;
}

.btn {
  background-color: #E3B873;
  color: #fff;
  outline: none;
  border: 1px solid #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: 'Futura Demi';
  text-transform: uppercase;
  font-size: 13px;
}

.hero {
  position: relative;
  height: 100vh;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313 url(../img/hero-bg.jpg) no-repeat center center/cover;
}

.hero:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero__instagram {
  position: relative;
  z-index: 3;
  min-width: 70px;
  max-width: 90px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #131313;
}

.hero__instagram-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-decoration: none;
  text-transform: uppercase;
  color: #E3B873;
  font-family: 'Futura Demi';
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__instagram-link:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 50px;
  height: 1px;
  background-color: #E3B873;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__instagram-link:hover {
  color: #C13584;
}

.hero__instagram-link:hover:after {
  background-color: #C13584;
}

.hero__content {
  position: relative;
  z-index: 5;
  padding: 60px;
  color: #fff;
  width: 40%;
}

.hero .title {
  font-size: 40px;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  line-height: 53px;
}

.hero .title span {
  color: #E3B873;
}

.hero__title {
  margin-bottom: 20px;
}

.hero .description {
  font-size: 22px;
  line-height: 30px;
}

.hero__description {
  margin-bottom: 40px;
}

.hero__btn {
  width: 210px;
  height: 50px;
  margin-right: 20px;
}

.hero__btn:last-child {
  margin-right: 0;
}

.hero__btn_sent {
  background-color: transparent;
  border: 1px solid #fff;
}

.hero__btn_sent:hover {
  border: 1px solid #E3B873;
  color: #E3B873;
}

.hero__btn_calc:hover {
  background-color: transparent;
  border: 1px solid #fff;
}

.hero__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  bottom: 0;
  z-index: 99;
  background-color: #131313;
  color: #fff;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 250px;
  height: 100px;
  position: absolute;
}

.hero__down:hover {
  cursor: pointer;
}

.hero__down span {
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Yeseva One', cursive;
  cursor: default;
  font-size: 12px;
}

.hero__down span:hover {
  cursor: pointer;
}

.hero__down span:after {
  content: '';
  display: inline-block;
  background: url("../img/arrow.svg") no-repeat center center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid #E3B873;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  font-family: 'Futura Book', sans-serif;
}

.container {
  max-width: 1256px;
  width: 96%;
  margin: auto;
}

button {
  border: none;
}
/*# sourceMappingURL=style.css.map */